<div class="mx-auto max-w-screen-xl px-4 lg:px-8">
  <div class="flex h-16 items-center justify-between">

    <a routerLink="/" class="flex items-center gap-2" >
        <span class="inline-flex h-9 w-9 items-center justify-center rounded-xl bg-emerald-600 text-white font-extrabold">
          PB
        </span>
      <span class="text-sm font-extrabold tracking-tight text-gray-900">
          PadelBooking
        </span>
    </a>


    <nav class="hidden items-center gap-6 md:flex">
      <a routerLink="/home" class="text-sm font-semibold text-gray-700 hover:text-gray-900" (click)="goTohome()">Accueil </a>
      <a routerLink="/clubs" class="text-sm font-semibold text-gray-700 hover:text-gray-900" >Clubs</a>
      <a routerLink="/reservations" class="text-sm font-semibold text-gray-700 hover:text-gray-900">Réservations</a>
      <a routerLink="/about" class="text-sm font-semibold text-gray-700 hover:text-gray-900">À propos</a>
    </nav>


    <div class="hidden items-center gap-2 md:flex">
      <a
        routerLink="/login"
        class="rounded-xl px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-100"
      >
        Se connecter
      </a>
      <a
        routerLink="/register"
        class="rounded-xl bg-emerald-600 px-4 py-2 text-sm font-semibold text-white hover:bg-emerald-700"
        (click)="router.navigate(['/register'])"
      >
        S’inscrire
      </a>
    </div>


    <button
      type="button"
      class="inline-flex items-center justify-center rounded-xl border px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-50 md:hidden"
      (click)="toggle()"
      aria-label="Ouvrir le menu"
    >
      <span *ngIf="!mobileOpen">☰</span>
      <span *ngIf="mobileOpen">✕</span>
    </button>
  </div>
</div>


<div *ngIf="mobileOpen" class="border-t bg-white md:hidden">
  <div class="mx-auto max-w-screen-xl px-4 py-4">
    <nav class="grid gap-2">
      <a  routerLink="/" class="rounded-xl px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-50">
        Accueil
      </a>
      <a  routerLink="/clubs" class="rounded-xl px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-50">
        Clubs
      </a>
      <a  routerLink="/reservations" class="rounded-xl px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-50">
        Réservations
      </a>
      <a  routerLink="/about" class="rounded-xl px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-50">
        À propos
      </a>
    </nav>

    <div class="mt-4 grid gap-2">
      <a  routerLink="/login" class="rounded-xl border px-3 py-2 text-center text-sm font-semibold hover:bg-gray-50">
        Se connecter
      </a>
      <a  routerLink="/register" class="rounded-xl bg-emerald-600 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-emerald-700">
        S’inscrire
      </a>
    </div>
  </div>
</div>
