<div class="mt-5 grid gap-4 md:grid-cols-2 lg:grid-cols-3">
<div *ngFor="let court of listeTerrain" class="rounded-2xl border p-5 hover:shadow-sm">
  <div class="flex items-start justify-between">
    <div>
      <div  class="font-extrabold text-gray-800">{{ court.name }} </div>
      <div class="mt-1 text-xs text-gray-600">{{ court.type }}</div>
    </div>

    <span *ngIf="isLibre(court)"
          class="rounded-full bg-emerald-50 px-2 py-1 text-xs font-semibold text-emerald-700">
      Libre
    </span>

    <span *ngIf="!isLibre(court)"
          class="rounded-full bg-red-50 px-2 py-1 text-xs font-semibold text-red-700">
      Occupé
    </span>
  </div>



  <div class="mt-4 flex flex-wrap gap-2">
    <button class="rounded-full bg-emerald-600 px-3 py-2 text-xs font-semibold text-white hover:bg-emerald-700">18:00</button>
    <button class="rounded-full border px-3 py-2 text-xs font-semibold text-gray-400">19:00</button>
    <button class="rounded-full bg-emerald-600 px-3 py-2 text-xs font-semibold text-white hover:bg-emerald-700">20:00</button>
    <button class="rounded-full bg-emerald-600 px-3 py-2 text-xs font-semibold text-white hover:bg-emerald-700">21:00</button>
  </div>
</div>
</div>
